.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;

  @media (max-width: 1440px) {
    width: 1254px;
  }

  @media (max-width: 992px) {
    width: 1254px;
  }
}
